In [1]:
select * from manoj

: Msg 208, Level 16, State 1, Line 1
Invalid object name 'manoj'.